{{ $s := .Site.Params }}
<aside class="sidebar">
  <section class="sidebar_inner">
    {{ if $s.IntroDescription }}
    <h2>{{ $s.Author }}</h2>
    <div class="sidebar_description">
      {{ $s.IntroDescription | markdownify }}
    </div>
    {{- if ( ne $s.introURL false ) }}

    <a href='{{ absLangURL (default "about/" $s.introURL) }}' class="button mt-1" role="button">{{ "もっと詳しく" }}</a>
    {{- end }}

    <div class='sns-link' style="margin-top: 25px;">

      <div>
        <a href="https://twitter.com/azukibar_D?ref_src=twsrc%5Etfw" class="twitter-follow-button"
          data-show-count="false">Follow @azukibar_D</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <div>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/Azuki-bar"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          aria-label="Follow @Azuki-bar on GitHub">Follow
          @Azuki-bar</a>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      </div>

    </div>
    {{- end }}
    {{- $posts := where (where .Site.RegularPages "Permalink" "!=" .Permalink) "Type" "in" $s.mainSections }}
    {{- $featured := default 8 $s.numberOfFeaturedPosts }}
    {{- with first $featured (where $posts "Params.featured" true)}}
    <h2 class="mt-4">{{ "featured_posts" }}</h2>
    <ul>
      {{- range . }}
      <li>
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    <h2 class="mt-4">{{ "最近の投稿" }}</h2>
    <ul class="flex-column">
      {{- $recent := default 8 $s.numberOfRecentPosts }}
      {{- range first $recent $posts }}
      <li>
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    {{- $tagsLimit := (default 100 $s.numberOfTagsShown) }}
    {{- range $key, $value := .Site.Taxonomies }}
    {{- if gt $value 0 }}
    <div>
      <h2 class="mt-4 taxonomy" id="{{ $key }}-section">{{ T $key }}</h2>
      <nav class="tags_nav">
        {{- $onPageTags := $.Page.Params.tags }}
        {{- $slicedTags := ($value.ByCount | first $tagsLimit) }}
        {{- range $slicedTags }}
        <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/'
          class="post_tag button button_translucent">
          {{ upper .Name }}
          <span class="button_tally">{{ .Count }}</span>
        </a>
        {{ end }}
        {{ if gt (len $value.ByCount) $tagsLimit }}
        <br>
        <div class="post_tags_toggle button">{{ T (printf "all_%s" (lower $key)) }}</div>
        {{- $tagsInfo := newScratch }}
        <div class="post_tags">
          <div class="tags_list">
            {{- range $value.Alphabetical }}
            {{ $tagsInfo.Add "tagsInfo" (slice .Name .Count)}}
            <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/'
              class=" post_tag button button_translucent" data-position={{ .Count }}>
              {{- upper .Name -}}
              <span class="button_tally">{{ .Count }}</span>
            </a>
            {{ end }}
            <div class="tags_sort"><span title="sort alphabetically">[A~Z]</span><span
                title="sort by count">[0~9]</span>
            </div>
            <span class="tags_hide"><svg class="icon">
                <use xlink:href="#closeme"></use>
              </svg></span>
          </div>
        </div>
        {{- end }}
      </nav>
    </div>
    {{- end }}
    {{- end }}
  </section>
</aside>
